<header class="header">
  <mat-toolbar color="primary" style="position: static">
  
      <mat-toolbar-row>
        <div class="menu-row">
          <button mat-button routerLink="/listing" routerLinkActive="is-active">Auctions</button>
          <button mat-button routerLinkActive="is-active">Inventory</button>
          <button mat-button routerLinkActive="is-active">Categories</button>
          <button mat-button routerLinkActive="is-active">How it works</button>
          <button mat-button routerLinkActive="is-active">About Us</button>
          <!-- <a mat-button href="https://www.google.com/" target="_blank">Link</a> -->
        </div>
        <!-- <span>Menu</span> -->
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
  
      </mat-toolbar-row>
    </mat-toolbar>
</header>