<header class="header">
  <mat-toolbar color="primary" style="position: static">
  
      <mat-toolbar-row>
        <div class="example-button-row">
          <button mat-button routerLink="/listing">Listing</button>
          <button mat-flat-button color="">Menu 2</button>
          <!-- <a mat-button href="https://www.google.com/" target="_blank">Link</a> -->
        </div>
        <!-- <span>Menu</span> -->
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
  
      </mat-toolbar-row>
    </mat-toolbar>
</header>