<div class="container">
    <div class="row mt-2">
        <div class="col mt-5" *ngFor="let item of allListings; index as i">
            <mat-card class="item-card">
                <img mat-card-image class="card-image" [src]="item.image_url" alt="">
                <mat-card-content>
                    <h2>
                        {{item.item_name}}
                    </h2>
                    <div class="row">
                        <div class="col">
                            <mat-icon fontIcon="gavel"></mat-icon>
                           GHC {{item.current_bid}}
                        </div>
                        <div class="col">
                            <mat-icon fontIcon="attach_money"></mat-icon>
                            Buy Now
                            <p>GHC {{item.buy_price}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <countdown [config]="{leftTime: 60}"></countdown>
                        </div>
                        <div class="col">{{item.number_of_bids}} Bids</div>
                    </div>
                </mat-card-content>
                <mat-card-actions class="card-action">
                    <!-- <button mat-button color="primary">Submit a Bid</button> -->
                    <button mat-fab extended color="primary" routerLink="/bid/{{item.id}}">
                        <mat-icon>favorite</mat-icon>
                        Submit a Bid
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        
        <!-- <div class="col">
            <mat-card class="item-card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h2>
                        Item Name
                    </h2>
                    <div class="row">
                        <div class="col">Current Bid</div>
                        <div class="col">Buy Now
                            <p>GHC 5,000</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">Timer</div>
                        <div class="col">10 Bids</div>
                    </div>
                </mat-card-content>
                <mat-card-actions class="card-action">
                    <button mat-fab extended color="primary" routerLink="/bid">
                        <mat-icon>favorite</mat-icon>
                        Submit a Bid
                    </button>
                </mat-card-actions>
            </mat-card>
        </div> -->
    </div>
</div>