<div class="container">
    <div class="row mt-5">
        <div class="col">
            <mat-card class="item-card">
                <!-- <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header> -->
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h2>
                        Item Name
                    </h2>
                    <div class="row">
                        <div class="col">
                            <mat-icon fontIcon="gavel"></mat-icon>
                            Current Bid
                        </div>
                        <div class="col">
                            <mat-icon fontIcon="attach_money"></mat-icon>
                            Buy Now
                            <p>GHC 5,000</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <countdown [config]="{leftTime: 60}"></countdown>
                        </div>
                        <div class="col">10 Bids</div>
                    </div>
                </mat-card-content>
                <mat-card-actions class="card-action">
                    <!-- <button mat-button color="primary">Submit a Bid</button> -->
                    <button mat-fab extended color="primary" routerLink="/bid">
                        <mat-icon>favorite</mat-icon>
                        Submit a Bid
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="item-card">
                <!-- <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header> -->
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h2>
                        Item Name
                    </h2>
                    <div class="row">
                        <div class="col">Current Bid</div>
                        <div class="col">Buy Now
                            <p>GHC 5,000</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">Timer</div>
                        <div class="col">10 Bids</div>
                    </div>
                </mat-card-content>
                <mat-card-actions class="card-action">
                    <!-- <button mat-button color="primary">Submit a Bid</button> -->
                    <button mat-fab extended color="primary" routerLink="/bid">
                        <mat-icon>favorite</mat-icon>
                        Submit a Bid
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="item-card">
                <!-- <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header> -->
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h2>
                        Item Name
                    </h2>
                    <div class="row">
                        <div class="col">Current Bid</div>
                        <div class="col">Buy Now
                            <p>GHC 5,000</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">Timer</div>
                        <div class="col">10 Bids</div>
                    </div>
                </mat-card-content>
                <mat-card-actions class="card-action">
                    <!-- <button mat-button color="primary">Submit a Bid</button> -->
                    <button mat-fab extended color="primary" routerLink="/bid">
                        <mat-icon>favorite</mat-icon>
                        Submit a Bid
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="item-card">
                <!-- <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header> -->
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h2>
                        Item Name
                    </h2>
                    <div class="row">
                        <div class="col">Current Bid</div>
                        <div class="col">Buy Now
                            <p>GHC 5,000</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">Timer</div>
                        <div class="col">10 Bids</div>
                    </div>
                </mat-card-content>
                <mat-card-actions class="card-action">
                    <!-- <button mat-button color="primary">Submit a Bid</button> -->
                    <button mat-fab extended color="primary" routerLink="/bid">
                        <mat-icon>favorite</mat-icon>
                        Submit a Bid
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <mat-card class="item-card">
                <!-- <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header> -->
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h2>
                        Item Name
                    </h2>
                    <div class="row">
                        <div class="col">
                            <mat-icon fontIcon="gavel"></mat-icon>
                            Current Bid
                        </div>
                        <div class="col">
                            <mat-icon fontIcon="attach_money"></mat-icon>
                            Buy Now
                            <p>GHC 5,000</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <countdown [config]="{leftTime: 60}"></countdown>
                        </div>
                        <div class="col">10 Bids</div>
                    </div>
                </mat-card-content>
                <mat-card-actions class="card-action">
                    <!-- <button mat-button color="primary">Submit a Bid</button> -->
                    <button mat-fab extended color="primary" routerLink="/bid">
                        <mat-icon>favorite</mat-icon>
                        Submit a Bid
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="item-card">
                <!-- <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header> -->
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h2>
                        Item Name
                    </h2>
                    <div class="row">
                        <div class="col">Current Bid</div>
                        <div class="col">Buy Now
                            <p>GHC 5,000</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">Timer</div>
                        <div class="col">10 Bids</div>
                    </div>
                </mat-card-content>
                <mat-card-actions class="card-action">
                    <!-- <button mat-button color="primary">Submit a Bid</button> -->
                    <button mat-fab extended color="primary" routerLink="/bid">
                        <mat-icon>favorite</mat-icon>
                        Submit a Bid
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="item-card">
                <!-- <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header> -->
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h2>
                        Item Name
                    </h2>
                    <div class="row">
                        <div class="col">Current Bid</div>
                        <div class="col">Buy Now
                            <p>GHC 5,000</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">Timer</div>
                        <div class="col">10 Bids</div>
                    </div>
                </mat-card-content>
                <mat-card-actions class="card-action">
                    <!-- <button mat-button color="primary">Submit a Bid</button> -->
                    <button mat-fab extended color="primary" routerLink="/bid">
                        <mat-icon>favorite</mat-icon>
                        Submit a Bid
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="item-card">
                <!-- <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header> -->
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h2>
                        Item Name
                    </h2>
                    <div class="row">
                        <div class="col">Current Bid</div>
                        <div class="col">Buy Now
                            <p>GHC 5,000</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">Timer</div>
                        <div class="col">10 Bids</div>
                    </div>
                </mat-card-content>
                <mat-card-actions class="card-action">
                    <!-- <button mat-button color="primary">Submit a Bid</button> -->
                    <button mat-fab extended color="primary" routerLink="/bid">
                        <mat-icon>favorite</mat-icon>
                        Submit a Bid
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>