<div class="container my-4">
    <!-- Carousel wrapper -->
    <div class="row">
        <div class="col-8">
            <gallery id="basic-test" imageSize="cover" fluid [items]="items"></gallery>
        </div>
        <div class="col-4">
            <div class="description">
                <h2>Description</h2>
                <div>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">Condition:</th>
                                <td>{{itemData.description.condition}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Year:</th>
                                <td>{{itemData.description.year}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Color:</th>
                                <td>{{itemData.description.color}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Size:</th>
                                <td>{{itemData.description.size}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="bid-history">
                <h2>Bid History</h2>
                <div>
                    <table class="table table-striped">
                        <thead class="text-center">
                            <th>Bidder</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Unit Price (GHC)</th>
                        </thead>
                        <tbody>
                            <tr class="text-center" *ngFor="let bidder of itemData.bid_history">
                                <td>
                                    <img src="https://pixner.net/sbidu/main/assets/images/history/01.png" alt="" height="40px" style="border-radius: 50%;">
                                    {{bidder.bidder_name}}
                                </td>
                                <td>{{bidder.date}}</td>
                                <td>{{bidder.time}}</td>
                                <td class="text-center">{{bidder.unit_price}}</td>
                            </tr>
                            <!-- <tr>
                                <td>
                                    <img src="https://pixner.net/sbidu/main/assets/images/history/01.png" alt="" height="40px" style="border-radius: 50%;">
                                    Daniel Odai
                                </td>
                                <td>11/21/2023</td>
                                <td>18:38</td>
                                <td class="text-center">3,000</td>
                            </tr> -->
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-9">
            <h1>{{itemData.item_name}}</h1>
            <small>Listing ID: {{itemData.listing_id}} | Item #: 12345</small>
            <div>
                <div class="row  fs-5">
                    <p class="col">Current Price</p>
                    <p class="col">GHC {{itemData.current_price}}</p>
                </div>
                <div class="row fs-5">
                    <p class="col">Original Price</p>
                    <p class="col">GHC {{itemData.original_price}}</p>
                </div>
            </div>

            <hr>

            <div class="sumbit-bid">
                <form class="">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Bid Amount</mat-label>
                        <input type="number" matInput placeholder="Enter your bid amount">
                    </mat-form-field>
                    <button mat-fab extended color="primary" class="mt-3 ms-3" (click)="submitBid()">
                        <mat-icon>favorite</mat-icon>
                        Submit a Bid
                    </button>
                </form>
            </div>

            <hr>

            <div>
                <button mat-fab extended color="primary" class="mt-3 ms-3">
                    <mat-icon>favorite</mat-icon>
                    Buy now: GHC 10,000
                </button>
                <button mat-fab extended color="accent" class="mt-3 ms-3">
                    <mat-icon>star</mat-icon>
                    Add to wishlist
                </button>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
<!-- Carousel wrapper -->